<h1>Whisper新規作成</h1>

<%= form_with( model: @post, local: true ) do |form| %>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <br>
  <%= form.submit "確認画面へ" %>
<% end %>